[Unit]
Description=Hybot Telegram Bot Server
After=hydb-api.service

[Service]
Type=simple
WorkingDirectory=/home/hyve/app/bot/
ExecStart=/home/hyve/.local/bin/poetry run hybot -vv
Restart=on-failure
StandardError=syslog

[Install]
WantedBy=default.target
