[Unit]
Description=Hydraverse DB Block Updater Service
After=network.target

[Service]
Type=simple
UMask=022
WorkingDirectory=/home/hyve/app/hydb/
ExecStart=/home/hydb/app/hydb/env/db/bin/python -O -m hydb -vv
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=default.target
