[Unit]
Description=Hydraverse DB API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/hyve/app/db/
ExecStart=/home/hyve/app/db/env/db/bin/python -O -m uvicorn hydb.api.__main__:app --timeout-keep-alive 86400
Restart=on-failure
StandardError=syslog

[Install]
WantedBy=default.target
