[Unit]
Description=Hydraverse DB Block Updater Service
After=hydb-api.service

[Service]
Type=simple
WorkingDirectory=/home/hyve/app/db/
ExecStartPre=/bin/sleep 5
ExecStart=/home/hyve/app/db/env/db/bin/python -O -m hydb -vv
Restart=on-failure
StandardError=syslog

[Install]
WantedBy=default.target
