[Unit]
Description=Hydraverse DB API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/hyve/app/db/
ExecStart=/home/hyve/.local/bin/poetry run hydb-api
Restart=on-failure
StandardError=syslog

[Install]
WantedBy=default.target
